[user]
	name = Jeff Larson
	email = thejefflarson@gmail.com
[color]
	ui = true
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[diff]
	submodule = log
[core]
	excludesfile = ~/.gitignore_global
[diff "sopsdiffer"]
	textconv = sops -d
[pull]
	default = current
	rebase = true
[init]
	defaultBranch = main
