[user]
	name = Jeff Larson
	email = thejefflarson@gmail.com
	signingkey = 54119264
[color]
	ui = true
[push]
	default = matching
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
