git-annex
fish/gen*
fish/fish*
secrets.fish
.user-first-login.stamp
Empathy/
Trolltech.conf
chromium/
compiz-1/
dconf/
gnome-control-center/
libaccounts-glib/
libreoffice/
nautilus/
update-notifier/
user-dirs.dirs
user-dirs.locale
